<ion-header>
	<ion-toolbar>

		<ion-title>Formación</ion-title>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/tab1"></ion-back-button> 
		</ion-buttons>

	</ion-toolbar>

</ion-header>

<ion-content>

	<ion-card>

		<h1>UPV/EHU</h1>

		<h2>Grado en Ingeniería Electrónica Industrial y Automática</h2>

		<p>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla, tellus eget ullamcorper malesuada, odio elit dictum diam, in hendrerit magna elit ac nibh. Quisque vulputate orci sed purus bibendum ultricies. Sed pretium id massa in aliquet. Integer ac magna varius, mollis enim vel, placerat tellus. Sed vitae mi tristique, cursus sem at, cursus turpis. Nulla semper, dui eu sagittis finibus, leo metus laoreet erat, et rhoncus lacus ligula sit amet augue. Mauris bibendum auctor dui, sollicitudin consectetur elit faucibus ultrices.

			Sed pharetra erat ut orci ultrices faucibus. Nulla erat sem, cursus eget finibus ac, sollicitudin in nunc. Praesent interdum risus ac ipsum posuere, nec pellentesque neque luctus. Praesent vel nisl eget urna aliquam posuere. Quisque volutpat mi at risus sollicitudin pulvinar. Donec in ornare neque. Vivamus mollis eget lorem nec malesuada. Pellentesque hendrerit fringilla diam sit amet rhoncus.
		</p>

	</ion-card>

	<ion-card>

		<h1>IES Xabier Zubiri Manteo BHI</h1>

		<h2>Desarrollo de Aplicaciones Web</h2>

		<p>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed mollis magna. Quisque eu dolor vitae eros blandit egestas non non erat. Curabitur at ante sit amet odio sollicitudin iaculis nec quis libero. Morbi varius eget eros sit amet lacinia. Aenean ac sapien non magna fringilla dictum. Fusce mollis pulvinar erat. Quisque vulputate ultrices luctus. Vivamus vel dui turpis. Phasellus tincidunt sit amet odio vitae placerat. Ut nunc urna, volutpat et imperdiet nec, tincidunt eu nibh. Aliquam a consectetur dui, sed porttitor nisi. Maecenas pharetra sapien a nulla molestie, at molestie augue sodales. Aliquam dignissim placerat mi sodales accumsan. Sed vehicula lectus odio, sit amet feugiat dui tristique vitae. Suspendisse ornare risus quis gravida gravida. Vivamus maximus sodales massa, in bibendum mauris auctor sit amet.

			Phasellus finibus, nisi eget gravida mattis, mauris ex mattis libero, et facilisis elit velit nec erat. Sed ut dui eu tortor lacinia mollis. In quis tortor bibendum, consequat lacus sit amet, porttitor nibh. Curabitur id tellus eu velit condimentum congue. Nunc lorem enim, dapibus eu ultricies et, viverra nec orci. Sed molestie, libero sed mattis tempus, metus nisl auctor nunc, sed elementum quam diam ac urna. Curabitur sed mollis sem. Mauris vel lobortis velit. Nunc eget neque vulputate dui sagittis euismod a sed sem. Integer viverra arcu eget feugiat malesuada. Cras dignissim feugiat orci. Vestibulum accumsan sodales sapien, non aliquam metus. Nulla facilisi. Vivamus ornare felis sit amet nibh aliquet, et malesuada quam consectetur. Nunc placerat nec turpis non congue. Donec posuere, sapien quis hendrerit sagittis, neque metus suscipit est, a accumsan massa sapien ac elit.
		</p>

	</ion-card>

</ion-content>
