<ion-header>
  <ion-toolbar>
    <ion-title>
     Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	
<ion-card>
  <ion-card-header>
    
    <ion-card-title>Xabier Artola</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
  <img src="../../assets/img1.jpg" alt="">
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Xabier Artola</ion-card-subtitle>
    <ion-card-title>Formacion académica</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Xabier Artola</ion-card-subtitle>
    <ion-card-title>Experiencia profesional</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Xabier Artola</ion-card-subtitle>
    <ion-card-title>Idiomas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>


</ion-content>
