<ion-header>
	<ion-toolbar>
		<ion-title>Idiomas</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<h1>Euskera</h1>

		<h2>Hablado</h2>

		<ion-progress-bar color="success" value="0.90"></ion-progress-bar>

		<h2>Escrito</h2>

		<ion-progress-bar color="success" value="0.80"></ion-progress-bar>

		<h2>Leido</h2>

		<ion-progress-bar color="success" value="0.90"></ion-progress-bar>

		<h2>Nivel:</h2>
<h2>EGA</h2>


	</ion-card>


	<ion-card>

		<h1>Inglés</h1>

		<h2>Hablado</h2>

		<ion-progress-bar color="primary" value="0.90"></ion-progress-bar>

		<h2>Escrito</h2>

		<ion-progress-bar color="primary" value="0.80"></ion-progress-bar>

		<h2>Leido</h2>

		<ion-progress-bar color="primary" value="0.90"></ion-progress-bar>

		<h2>Nivel:</h2>
		<h2>B2</h2>


	</ion-card>

	<ion-card>
		<h1>Español</h1>

		<h2>Hablado</h2>

		<ion-progress-bar color="danger" value="0.90"></ion-progress-bar>

		<h2>Escrito</h2>

		<ion-progress-bar color="danger" value="0.80"></ion-progress-bar>

		<h2>Leido</h2>

		<ion-progress-bar color="danger" value="0.90"></ion-progress-bar>


	</ion-card>
	


</ion-content>
