<ion-header>
	<ion-toolbar>
		<ion-title>Idiomas</ion-title>

		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/tab1"></ion-back-button> 
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>

		<h1>Euskera</h1>

		<h2>Comprensión</h2>

		<ion-progress-bar color="success" value="0.90"></ion-progress-bar>

		<h2>Fluidez</h2>

		<ion-progress-bar color="success" value="0.90"></ion-progress-bar>

		<h2>Expresión escrita</h2>

		<ion-progress-bar color="success" value="0.90"></ion-progress-bar>

	</ion-card>

	<ion-card>
		<h1>Español</h1>

		<h2>Comprensión</h2>

		<ion-progress-bar color="danger" value="0.90"></ion-progress-bar>

		<h2>Fluidez</h2>

		<ion-progress-bar color="danger" value="0.90"></ion-progress-bar>

		<h2>Expresión escrita</h2>

		<ion-progress-bar color="danger" value="0.90"></ion-progress-bar>

	</ion-card>
	
	<ion-card>

		<h1>Inglés</h1>

		<h2>Comprensión</h2>

		<ion-progress-bar color="primary" value="0.70"></ion-progress-bar>

		<h2>Fluidez</h2>

		<ion-progress-bar color="primary" value="0.50"></ion-progress-bar>

		<h2>Expresión escrita</h2>

		<ion-progress-bar color="primary" value="0.70"></ion-progress-bar>

	</ion-card>


</ion-content>
