<ion-header>
  <ion-toolbar>
    <ion-title>
      Información general
    </ion-title>

    <!-- npm update -g cordova ionic-->
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/icon.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Xabier Artola</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Curriculum vitae</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Apartados</ion-label>
      </ion-list-header>
      <ion-item href="/formacion">
        <ion-icon slot="start" color="medium" name="school"></ion-icon>
        <ion-label>Formación academica</ion-label>
      </ion-item>
      <ion-item href="/experiencia">
        <ion-icon slot="start" color="medium" name="clipboard"></ion-icon>
        <ion-label class="Titulo">Experiencia profesional</ion-label>
      </ion-item>
      <ion-item href="/idiomas">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Idiomas</ion-label>
      </ion-item>

      <ion-item href="https://github.com/xartola">
        <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
        <ion-label>Github</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
