<ion-header>
	<ion-toolbar>
		<ion-title>Experiencia</ion-title>

		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/tab1"></ion-back-button> 
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
    
<h1>Centro de trabajo:</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat dapibus nulla sed malesuada. Nulla id ligula id arcu rutrum cursus. Curabitur tempus elit ac. </p>

<h1>Tareas ralizadas:</h1>

<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum molestie venenatis. Donec mattis iaculis urna a rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut vehicula lectus ac dapibus dapibus. Morbi non dui et tellus dignissim auctor. Curabitur posuere mauris tellus, in blandit ante tincidunt ut. Nullam rutrum eu sapien ac faucibus.

Fusce id arcu gravida, eleifend ante condimentum, facilisis erat. Suspendisse vehicula pretium quam, sit amet laoreet diam porttitor consectetur. Morbi gravida turpis vitae lorem cursus consectetur. Cras nec quam placerat, pulvinar neque et, pellentesque elit. Aliquam cursus, turpis vitae consectetur porttitor, sapien justo mollis lacus, in posuere diam est at ante. In efficitur ultrices urna, non aliquam lorem convallis quis. Praesent luctus ex metus, eget vulputate ex viverra non. Ut magna ante, ullamcorper sit amet mollis nec, venenatis quis enim.

Suspendisse cursus nibh id orci placerat viverra. Fusce ligula quam, tincidunt ac mi sed, convallis convallis augue. Fusce hendrerit ornare pharetra. Suspendisse ultrices vehicula convallis. In congue purus ut magna lobortis, non laoreet dolor dignissim. Proin ullamcorper tellus a tortor molestie, non varius magna gravida. Aliquam sem tortor, cursus vitae lobortis et, dapibus eget ex. Phasellus ligula urna, sollicitudin tempor egestas sit amet, dignissim non dui. Suspendisse et nibh in mauris imperdiet finibus nec at urna. Sed aliquet eu elit non condimentum. Curabitur semper mattis posuere. Aenean semper risus ut metus tempor accumsan. Maecenas diam risus, cursus eu dignissim in, maximus ac neque.

Duis dignissim ipsum non sapien blandit imperdiet. Vestibulum vel tincidunt ligula, quis molestie erat. Phasellus consectetur augue sapien, at faucibus enim lobortis at. Duis imperdiet elit ac lobortis finibus. Integer eu nisi mauris. Phasellus vestibulum convallis rutrum. Cras gravida dui scelerisque risus interdum, ac rhoncus eros congue.

Proin malesuada purus eget suscipit lobortis. Donec eget vestibulum nunc. Vestibulum dictum risus at elementum laoreet. Phasellus ipsum dolor, posuere in arcu quis, elementum porttitor ante. Ut vel nulla orci. Phasellus maximus aliquet sagittis. Proin erat sapien, sagittis a libero at, varius rhoncus tellus. Aliquam neque nibh, venenatis vel dolor eget, porttitor iaculis elit. </p>

  </ion-card>

</ion-content>
